# Homework 2
#### Pierre-Antoine Desplaces, Ana√Øs Ladoy, Lou Richard

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
import folium

## <font color='purple'>Question 1</font> 
Go to the eurostat website and try to find a dataset that includes the european unemployment rates at a recent date.

Use this data to build a Choropleth map which shows the unemployment rate in Europe at a country level. Think about the colors you use, how you decided to split the intervals into data classes or which interactions you could add in order to make the visualization intuitive and expressive. Compare Switzerland's unemployment rate to that of the rest of Europe.

We find the unemployment information under Population and social conditions > Labour Market > Employment and unemployment

In [ ]:
import pandas_datareader.data as pdr

df = pdr.DataReader("une_rt_a", 'eurostat')

In [37]:
test = pd.read_csv('lfsa_urgaed.tsv', sep='\t',encoding = 'utf8', header=[0])

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8b in position 1: invalid start byte

In [ ]:
from pandasdmx import Request
estat = Request('ESTAT', timeout)#lfsa_urgaed.smdx.xml
kiki = estat.datastructure('DSD_lfsa_urgaed').write(fromfreq=True)

In [3]:
#KEEPING ONLY STATS FOR THE MOST RECENT YEAR
df_eurostat = df.loc["2016-01-01"].reset_index(level=4, drop=True).unstack(-1).copy()

#KEEPING ONLY EUROPEAN COUNTRIES
df_eurostat = df_eurostat.drop(['Euro area (18 countries)', 'Euro area (19 countries)', 'Euro area (EA11-2000, EA12-2006, EA13-2007, EA15-2008, EA16-2010, EA17-2013, EA18-2014, EA19)', 'European Union (25 countries)', 'European Union (27 countries)',
       'European Union (28 countries)', 'Japan', 'United States'], axis=1)
#AND RENAME IT COUNTRY
df_eurostat.columns.name='Country'
df_eurostat

Country                                                      Austria  Belgium  \
UNIT                            AGE                 SEX
Percentage of active population From 25 to 74 years Females      4.9      6.7
                                                    Males        5.6      7.0
                                                    Total        5.3      6.8
                                Less than 25 years  Females     10.2     18.2
                                                    Males       12.1     21.7
                                                    Total       11.2     20.1
                                Total               Females      5.6      7.6
                                                    Males        6.5      8.1
                                                    Total        6.0      7.8
Percentage of total population  From 25 to 74 years Females      3.1      4.0
                                                    Males        4.2      4.9
                                                    Total        3.7      4.5
                                Less than 25 years  Females      5.6      4.7
                                                    Males        7.3      6.7
                                                    Total        6.5      5.7
                                Total               Females      3.5      4.1
                                                    Males        4.7      5.2
                                                    Total        4.1      4.7
Thousand persons                From 25 to 74 years Females     90.0    143.0
                                                    Males      117.0    172.0
                                                    Total      207.0    315.0
                                Less than 25 years  Females     27.0     31.0
                                                    Males       37.0     44.0
                                                    Total       64.0     75.0
                                Total               Females    117.0    173.0
                                                    Males      153.0    216.0
                                                    Total      270.0    390.0

Country                                                      Bulgaria  \
UNIT                            AGE                 SEX
Percentage of active population From 25 to 74 years Females       6.5
                                                    Males         7.6
                                                    Total         7.1
                                Less than 25 years  Females      16.9
                                                    Males        17.4
                                                    Total        17.2
                                Total               Females       7.0
                                                    Males         8.1
                                                    Total         7.6
Percentage of total population  From 25 to 74 years Females       3.8
                                                    Males         5.3
                                                    Total         4.5
                                Less than 25 years  Females       3.3
                                                    Males         4.9
                                                    Total         4.1
                                Total               Females       3.8
                                                    Males         5.2
                                                    Total         4.5
Thousand persons                From 25 to 74 years Females      95.0
                                                    Males       125.0
                                                    Total       219.0
                                Less than 25 years  Females      11.0
                                                    Males        17.0
                                                    Total        28.0
                                Total               Females     106.0
                                                    Males       142.0
                                                    Total       247.0

Country                                                      Croatia  Cyprus  \
UNIT                            AGE                 SEX
Percentage of active population From 25 to 74 years Females     12.4    11.4
                                                    Males       10.6    11.6
                                                    Total       11.4    11.5
                                Less than 25 years  Females     32.2    31.8
                                                    Males       31.4    25.8
                                                    Total       31.8    29.1
                                Total               Females     14.2    13.4
                                                    Males       12.7    12.7
                                                    Total       13.4    13.0
Percentage of total population  From 25 to 74 years Females      6.7     7.4
                                                    Males        6.9     9.0
                                                    Total        6.8     8.2
                                Less than 25 years  Females     10.1    12.2
                                                    Males       13.1     9.2
                                                    Total       11.6    10.8
                                Total               Females      7.2     8.2
                                                    Males        7.8     9.0
                                                    Total        7.5     8.6
Thousand persons                From 25 to 74 years Females     96.0    21.0
                                                    Males       93.0    23.0
                                                    Total      189.0    44.0
                                Less than 25 years  Females     24.0     6.0
                                                    Males       32.0     4.0
                                                    Total       56.0    10.0
                                Total               Females    120.0    27.0
                                                    Males      125.0    27.0
                                                    Total      245.0    54.0

Country                                                      Czech Republic  \
UNIT                            AGE                 SEX
Percentage of active population From 25 to 74 years Females             4.3
                                                    Males               2.9
                                                    Total               3.5
                                Less than 25 years  Females            11.4
                                                    Males              10.0
                                                    Total              10.5
                                Total               Females             4.7
                                                    Males               3.4
                                                    Total               4.0
Percentage of total population  From 25 to 74 years Females             2.7
                                                    Males               2.3
                                                    Total               2.5
                                Less than 25 years  Females             3.0
                                                    Males               3.7
                                                    Total               3.4
                                Total               Females             2.7
                                                    Males               2.5
                                                    Total               2.6
Thousand persons                From 25 to 74 years Females            96.0
                                                    Males              81.0
                                                    Total             177.0
                                Less than 25 years  Females            15.0
                                                    Males              20.0
                                                    Total              35.0
                                Total               Females           111.0
                                                    Males             101.0
                                                    Total             212.0

Country                                                      Denmark  Estonia  \
UNIT                            AGE                 SEX
Percentage of active population From 25 to 74 years Females      5.8      5.7
                                                    Males        4.5      6.6
                                                    Total        5.1      6.2
                                Less than 25 years  Females     10.9     10.6
                                                    Males       13.1     15.8
                                                    Total       12.0     13.4
                                Total               Females      6.6      6.1
                                                    Males        5.8      7.4
                                                    Total        6.2      6.8
Percentage of total population  From 25 to 74 years Females      3.8      4.0
                                                    Males        3.4      5.3
                                                    Total        3.6      4.6
                                Less than 25 years  Females      7.3      4.3
                                                    Males        8.5      7.3
                                                    Total        7.9      5.8
                                Total               Females      4.4      4.0
                                                    Males        4.2      5.6
                                                    Total        4.3      4.8
Thousand persons                From 25 to 74 years Females     69.0     18.0
                                                    Males       60.0     22.0
                                                    Total      129.0     39.0
                                Less than 25 years  Females     26.0      3.0
                                                    Males       32.0      5.0
                                                    Total       58.0      8.0
                                Total               Females     95.0     20.0
                                                    Males       92.0     26.0
                                                    Total      187.0     47.0

Country                                                      Finland  France  \
UNIT                            AGE                 SEX
Percentage of active population From 25 to 74 years Females      7.1     8.5
                                                    Males        7.4     8.6
                                                    Total        7.3     8.6
                                Less than 25 years  Females     18.6    24.1
                                                    Males       21.8    25.1
                                                    Total       20.1    24.6
                                Total               Females      8.6     9.9
                                                    Males        9.0    10.3
                                                    Total        8.8    10.1
Percentage of total population  From 25 to 74 years Females      4.6     5.2
                                                    Males        5.3     6.0
                                                    Total        4.9     5.6
                                Less than 25 years  Females      9.9     8.1
                                                    Males       11.2     9.8
                                                    Total       10.5     9.0
                                Total               Females      5.4     5.6
                                                    Males        6.2     6.6
                                                    Total        5.8     6.1
Thousand persons                From 25 to 74 years Females     80.0  1097.0
                                                    Males       91.0  1194.0
                                                    Total      172.0  2292.0
                                Less than 25 years  Females     31.0   304.0
                                                    Males       35.0   377.0
                                                    Total       65.0   681.0
                                Total               Females    111.0  1402.0
                                                    Males      126.0  1571.0
                                                    Total      237.0  2972.0

Country                                                           ...        \
UNIT                            AGE                 SEX           ...
Percentage of active population From 25 to 74 years Females       ...
                                                    Males         ...
                                                    Total         ...
                                Less than 25 years  Females       ...
                                                    Males         ...
                                                    Total         ...
                                Total               Females       ...
                                                    Males         ...
                                                    Total         ...
Percentage of total population  From 25 to 74 years Females       ...
                                                    Males         ...
                                                    Total         ...
                                Less than 25 years  Females       ...
                                                    Males         ...
                                                    Total         ...
                                Total               Females       ...
                                                    Males         ...
                                                    Total         ...
Thousand persons                From 25 to 74 years Females       ...
                                                    Males         ...
                                                    Total         ...
                                Less than 25 years  Females       ...
                                                    Males         ...
                                                    Total         ...
                                Total               Females       ...
                                                    Males         ...
                                                    Total         ...

Country                                                      Norway  Poland  \
UNIT                            AGE                 SEX
Percentage of active population From 25 to 74 years Females     3.2     5.3
                                                    Males       4.3     5.1
                                                    Total       3.8     5.2
                                Less than 25 years  Females     9.2    18.0
                                                    Males      12.6    17.4
                                                    Total      10.9    17.7
                                Total               Females     4.0     6.2
                                                    Males       5.4     6.1
                                                    Total       4.7     6.2
Percentage of total population  From 25 to 74 years Females     2.2     3.1
                                                    Males       3.3     3.7
                                                    Total       2.7     3.4
                                Less than 25 years  Females     5.1     5.2
                                                    Males       7.0     6.9
                                                    Total       6.1     6.1
                                Total               Females     2.6     3.4
                                                    Males       3.9     4.2
                                                    Total       3.3     3.8
Thousand persons                From 25 to 74 years Females    36.0   381.0
                                                    Males      56.0   439.0
                                                    Total      91.0   820.0
                                Less than 25 years  Females    16.0   101.0
                                                    Males      24.0   142.0
                                                    Total      40.0   244.0
                                Total               Females    52.0   482.0
                                                    Males      80.0   581.0
                                                    Total     132.0  1063.0

Country                                                      Portugal  \
UNIT                            AGE                 SEX
Percentage of active population From 25 to 74 years Females      10.0
                                                    Males         9.8
                                                    Total         9.9
                                Less than 25 years  Females      29.1
                                                    Males        27.4
                                                    Total        28.2
                                Total               Females      11.3
                                                    Males        11.1
                                                    Total        11.2
Percentage of total population  From 25 to 74 years Females       6.6
                                                    Males         7.5
                                                    Total         7.0
                                Less than 25 years  Females       9.0
                                                    Males         9.5
                                                    Total         9.3
                                Total               Females       6.9
                                                    Males         7.8
                                                    Total         7.3
Thousand persons                From 25 to 74 years Females     233.0
                                                    Males       236.0
                                                    Total       469.0
                                Less than 25 years  Females      49.0
                                                    Males        54.0
                                                    Total       103.0
                                Total               Females     282.0
                                                    Males       289.0
                                                    Total       571.0

Country                                                      Romania  \
UNIT                            AGE                 SEX
Percentage of active population From 25 to 74 years Females      3.9
                                                    Males        5.5
                                                    Total        4.8
                                Less than 25 years  Females     21.8
                                                    Males       19.9
                                                    Total       20.6
                                Total               Females      5.0

In [4]:
dfES_pop = df_eurostat.copy()
# Keeping only the total in the sex index
dfES_pop.drop(['Females','Males'], level=-1, axis=0,inplace=True)
# Keeping only the total in the age index
dfES_pop.drop(['From 25 to 74 years', 'Less than 25 years'], level=-2, axis=0, inplace=True)
# Removing those indices (name and sex)
dfES_pop = dfES_pop.reset_index(level=[-1,-2], drop=True).transpose()
dfES_pop.reset_index(level=0, inplace=True)
dfES_pop.columns.name = ""

# Cleaning the Germany name
dfES_pop.Country = dfES_pop.Country.replace({'Germany (until 1990 former territory of the FRG)': 'Germany'})

# Display the results
dfES_pop

,Country,Percentage of active population,Percentage of total population,Thousand persons
0,Austria,6.0,4.1,270.0
1,Belgium,7.8,4.7,390.0
2,Bulgaria,7.6,4.5,247.0
3,Croatia,13.4,7.5,245.0
4,Cyprus,13.0,8.6,54.0
5,Czech Republic,4.0,2.6,212.0
6,Denmark,6.2,4.3,187.0
7,Estonia,6.8,4.8,47.0
8,Finland,8.8,5.8,237.0
9,France,10.1,6.1,2972.0
10,Germany,4.1,2.9,1774.0
11,Greece,23.6,14.1,1131.0
12,Hungary,5.1,3.1,235.0
13,Iceland,3.0,2.5,5883.0
14,Ireland,7.9,5.1,173.0
15,Italy,11.7,6.6,3012.0
16,Latvia,9.6,6.6,95.0
17,Lithuania,7.9,5.3,116.0
18,Luxembourg,6.3,4.0,18.0
19,Malta,4.7,2.8,9.0
20,Netherlands,6.0,4.2,538.0
21,Norway,4.7,3.3,132.0
22,Poland,6.2,3.8,1063.0
23,Portugal,11.2,7.3,571.0
24,Romania,5.9,3.5,530.0
25,Slovakia,9.7,6.2,267.0
26,Slovenia,8.0,5.0,80.0
27,Spain,19.6,12.8,4481.0
28,Sweden,6.9,5.0,366.0
29,Turkey,10.9,5.9,3330.0
30,United Kingdom,4.8,3.3,1599.0

In [5]:
# Load the json data of the map
euro_geo_path = 'topojson/europe.topojson.json'
euro_geo = json.load(open(euro_geo_path))

In [ ]:
# Create a dictionary to convert country names to country IDs
dict_country_id = dict(map(lambda x : (x['properties']['NAME'],x['id']),euro_geo['objects']['europe']['geometries']))
# Adding a new column with country IDs
dfES_pop['Country ID'] = dfES_pop.Country.map(lambda x : dict_country_id[x])

In [ ]:
# Displaying the visualization map
m_euro = folium.Map([54,15], zoom_start=4)
m_euro.choropleth(
    geo_data = euro_geo,
    data=dfES_pop,
    columns=['Country ID', 'Percentage of total population'],
    key_on='feature.id',
    topojson='objects.europe',
    fill_color='OrRd', fill_opacity=0.5, line_opacity=0.2,
    legend_name="Percentage of unemployement in Europe"
    )
m_euro

## <font color='purple'>Question 2</font> 
Go to the amstat website to find a dataset that includes the unemployment rates in Switzerland at a recent date.

HINT Go to the details tab to find the raw data you need. If you do not speak French, German or Italian, think of using free translation services to navigate your way through.
Use this data to build another Choropleth map, this time showing the unemployment rate at the level of swiss cantons. Again, try to make the map as expressive as possible, and comment on the trends you observe.

The Swiss Confederation defines the rates you have just plotted as the number of people looking for a job divided by the size of the active population (scaled by 100). This is surely a valid choice, but as we discussed one could argue for a different categorization.

Copy the map you have just created, but this time don't count in your statistics people who already have a job and are looking for a new one. How do your observations change ? You can repeat this with different choices of categories to see how selecting different metrics can lead to different interpretations of the same data.

## <font color='purple'>Question 3</font> 
Use the amstat website again to find a dataset that includes the unemployment rates in Switzerland at recent date, this time making a distinction between Swiss and foreign workers.

The Economic Secretary (SECO) releases a monthly report on the state of the employment market. In the latest report (September 2017), it is noted that there is a discrepancy between the unemployment rates for foreign (5.1%) and Swiss (2.2%) workers.

Show the difference in unemployment rates between the two categories in each canton on a Choropleth map (hint The easy way is to show two separate maps, but can you think of something better ?). Where are the differences most visible ? Why do you think that is ?

Now let's refine the analysis by adding the differences between age groups. As you may have guessed it is nearly impossible to plot so many variables on a map. Make a bar plot, which is a better suited visualization tool for this type of multivariate data.

## <font color='purple'>Question 4</font> 
BONUS: using the map you have just built, and the geographical information contained in it, could you give a rough estimate of the difference in unemployment rates between the areas divided by the R√∂stigraben?